<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Checkout</title>
    <link rel="stylesheet" href="/public/assets/css/checkout.css">
  </head>
  <body>

    <div class=content>
        <div class="wrapper-1">
          <div class="wrapper-2">
            <h1>Thank you !</h1>
            <p>Thanks for purchasing from us.  </p>
            <p>you should receive a confirmation email soon  </p>
            <a href="/home">
                <button class="go-home">
                    go home
                </button>
            </a>
          </div>
          <div class="footer-like">
            <p>More questions? 
             <a href="#">Email customer_service@gmail.com</a>
            </p>
          </div>
      </div>
      </div>
      
      
      
      <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">


  </body>